DATABASE_URL=postgresql://postgres.project-ref:password@aws-1-us-west-2.pooler.supabase.com:5432/postgres
SYNC_DATABASE_URL=postgresql://postgres.project-ref:password@aws-1-us-west-2.pooler.supabase.com:5432/postgres
REQ_DATASET_ZIP_URL=https://www.registreentreprises.gouv.qc.ca/RQAnonymeGR/GR/GR03/GR03A2_22A_PIU_RecupDonnPub_PC/FichierDonneesOuvertes.aspx
REQ_DOWNLOAD_MODE=browser
REQ_BROWSER_HEADLESS=0
REQ_BROWSER_CHANNEL=chrome
REQ_PUBLIC_ENRICH_ENABLED=1
REQ_PUBLIC_ENRICH_LIMIT=10
REQ_PUBLIC_HEADLESS=0
REQ_PUBLIC_BROWSER_CHANNEL=chrome
LOG_LEVEL=INFO
