DATABASE_URL=postgresql://postgres.project-ref:password@aws-1-us-west-2.pooler.supabase.com:5432/postgres
REQ_DATASET_ZIP_URL=https://www.registreentreprises.gouv.qc.ca/RQAnonymeGR/GR/GR03/GR03A2_22A_PIU_RecupDonnPub_PC/FichierDonneesOuvertes.aspx
LOG_LEVEL=INFO

